@font-face {
  font-family: 'Inter Display';
  src: url('./InterDisplay-Regular.ttf') format('ttf'); /* sesuaikan path */
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Inter Display';
  src: url('./InterDisplay-Medium.ttf') format('ttf'); /* sesuaikan path */
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Inter Display';
  src: url('./InterDisplay-SemiBold.ttf') format('ttf'); /* sesuaikan path */
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'Inter Display';
  src: url('./InterDisplay-Bold.ttf') format('ttf'); /* sesuaikan path */
  font-weight: 700;
  font-style: normal;
}
