section
  .container
    .section__bank.wrapper
      .content__main.align-start
        .badge
          .badge__dots
          span Banks & Financial Institutions
        .section__heading
          h2 Simplify, Integrate, And
          .section__heading-container
            h2 Scale
            img(src='assets/images/moving-star.svg', alt='')
            h2 Your Operations
        a.button.btn-bookacall(href='#') Book a Discovery Call
      .bank
        .bank__card
          img(src='assets/images/card-11.svg', alt='')
          .bank__content
            h6 Augment Legacy Cores
            p Expose secure APIs and eventing without rewriting your core.
        .bank__card
          img(src='assets/images/card-22.svg', alt='')
          .bank__content
            h6 Modernize Cross-Border
            p Standardize flows, approvals, cutoffs,and reconciliations across branches and partners.
        .bank__card
          img(src='assets/images/card-33.svg', alt='')
          .bank__content
            h6 Consolidate Compliance Ops
            p One casework backbone for onboarding, sanctions, and monitoring.
