section#section__case
  .container
    .section__case.wrapper
      .content__main.align-center
        .badge
          .badge__dots
          span Case Study
        .section__heading.align-center
          h2 Simplify Complex Payouts
          .section__heading-container
            h2 and Close
            img(src='assets/images/moving-star.svg' alt='')
            h2 Books Faster
      .slider__case
        div
          .case__card
            img(src="../../assets/images/case-1.svg" alt="").img__case
            .case__content
              h6 Multi-Jurisdiction AML Monitoring & Data Segregation
              a(href='#').button.btn__download  Request the Full Case
                img(src="../../assets/images/ArrowRight.svg" alt="")
        div
          .case__card
            img(src="../../assets/images/case-2.svg" alt="").img__case
            .case__content
              h6 Open API Layer for a Legacy Core 
              a(href='#').button.btn__download  Request the Full Case
                img(src="../../assets/images/ArrowRight.svg" alt="")
        div
          .case__card
            img(src="../../assets/images/case-3.svg" alt="").img__case
            .case__content
              h6 Global Wallet Ledger & Orchestration 
              a(href='#').button.btn__download Request the Full Case
                img(src="../../assets/images/ArrowRight.svg" alt="")
