section#section__case
  .container
    .section__case.wrapper
      .content__main.align-center
        .badge
          .badge__dots
          span Case Study
        .section__heading.align-center
          h2 Simplify Complex Payouts
          .section__heading-container
            h2 and Close
            img(src='assets/images/moving-star.svg', alt='')
            h2 Books Faster
      .slider__case
        div
          .case__card
            .case__content
              h6 Launching multi-corridor fiat payouts with unified ops
              a(href='#') Request the Full Case
        div
          .case__card
            .case__content
              h6 Launching multi-corridor fiat payouts with unified ops
              a(href='#') Request the Full Case
        div
          .case__card
            .case__content
              h6 Launching multi-corridor fiat payouts with unified ops
              a(href='#') Request the Full Case
        div
          .case__card
            .case__content
              h6 Launching multi-corridor fiat payouts with unified ops
              a(href='#') Request the Full Case
        div
          .case__card
            .case__content
              h6 Launching multi-corridor fiat payouts with unified ops
              a(href='#') Request the Full Case
