section#commercial__header
  .container
    .commercial__header
      .content__headline(style="max-width: 628px;")
        .header__badge
          .badge__app
            span Pricing & Commercials
          .badge__container
            span Be a Qualified Partner
        .content__heading.align-start
          .heading__text.align-start
            .heading__text-container.align-start
              h2 No upfront cost,
              img(src='assets/images/star-header.svg', alt='')
            h2 Outcomes-aligned.
          p.text-left(style="max-width: 595px; letter-spacing: -0.7px;") Capstone finances deployments for qualified partners. Pay for usage, managed services, and shared savings—aligned to measurable outcomes.
          a.button.btn-bookacall(href="#") Book a Discovery Call
      img(src='assets/images/img-header-commercial.svg', alt='').img__commercial-header
