section#contact__header
  .container
    .solutions__header.section-wework
      .content__headline
        .header__badge
          .badge__app
            span Contact
          .badge__container
            span Talk to Capstone
        .content__heading
          .heading__text
            .heading__text-container
              h2 Let’s build your
              img(src='assets/images/star-header.svg', alt='')
            h2 cross-border stack
          p.heading__text-dsc.contact_header-dsc Speak with our solutions engineers about payments and compliance orchestration, integrations, and managed operations.