//- Footer Section
footer.footer
  .container
    .footer__wrapper
      .footer__content
        .footer__content-left
          img(src='assets/images/logo.svg', alt='')
          span
            | FinCEN MSB Reg. No. 31000281166304
            br
            | (Capstone is a technology and managed
            br
            | operations provider; we are not a bank.)
        .footer__content-right
          .footer__menu
            span Navigation
            .footer__list
              a(href='#') Platform
              .footer__dropdown
                a(href='#') Solutions
                img(src='assets/images/ic-dd-white.svg', alt='')
              a(href='#') Services
              .footer__dropdown
                a(href='#') Trust Center
                img(src='assets/images/ic-dd-white.svg', alt='')
              a(href="partners.html") Partners
              a(href="company.html") Company
              a(href="developers.html") Developers
          .footer__menu-wrapper
            .footer__menu
              span Resources
              .footer__list
                a(href='#') Regulatory
                a(href='contact.html') Contact
            .footer__menu
              span Address
              p
                | 1001 S Main St, Suite 600,
                br
                | Kalispell, MT 59901, USA
      .footer__bottom
        span © 2025 Capstone Limited.
        .footer__bottom-btn
          a(href='#') Privacy Policy
          a(href='#') Terms and Agreement
  img(src='assets/images/footer-illustration.svg', alt='')
