//- Header Section
header.header
  .container
    .header__wrapper
      .content__headline.header__home.justify-center.align-center(style="max-width: 918px;")
        .header__badge
          .badge__app
            span New App
          .badge__container
            span Version available!
            img(src='assets/images/chevron-right.svg' alt='')
        .content__heading
          .heading__text
            .heading__text-container.justify-center
              h1 Plug into
              img(src='assets/images/star-header.svg' alt='')
              h1 Global
            h1 Digital infrastructure.
          p.text-center Capstone powers digital commerce and FinTech platforms with APIs, workflows, and operating teams to unify payments, automation, and compliance. Secure, fast, auditable, and designed for global scale.
        .header__button-group
          a.button.btn__bookacall(href='#') Book a Discovery Call
          a.button.btn-getaccess(href='#') Get Sandbox Access
        .rating
          img(src='assets/images/wing-left.svg' alt='')
          .rating__container
            .user__list
              img(src='assets/images/user-1.png' alt='' width='32px' height='32px')
              img(src='assets/images/user-2.png' alt='' width='32px' height='32px')
              img(src='assets/images/user-3.png' alt='' width='32px' height='32px')
            .rating__text
              img(src='assets/images/star.svg' alt='')
              span Rating 4.5
              span ·
              span People choice
          img(src='assets/images/wing-right.svg' alt='')
      .hero__header
        img(src='../../assets/images/hero-header.svg' alt='')
