section.section-wework_bg
  .container
    .section__wework.wrapper
      .contentMain__parent.parent__wework
        .content__main.align-start
          .badge
            .badge__dots
            span How We Work
          .section__heading
            h2 Our Approach to
            h2 Partnership and
            .section__heading-container
              h2 Delivery
              img(src='assets/images/moving-flower.svg' alt='')
          a.button.btn__bookacall(href='#') Book a Discovery Call
        img(src="../../assets/images/img-wework.svg" alt="").img__wework
      .wework__parent
        .wework
          .wework__card
            img(src='assets/images/cocreation.svg' alt='')
            .wework__content
              h6 Co-Creation
              p Capstone align to your KPIs and operational realities.
          .wework__card
            img(src='assets/images/selective.svg' alt='')
            .wework__content
              h6 Selective Engagements
              p Capstone partner where we can finance and deliver material outcomes.
          .wework__card
            img(src='assets/images/longterm.svg' alt='')
            .wework__content
              h6 Long-Term
              p Capstone build for durability—governed by clear SLAs, runbooks, and change control.
        a(href="#").button.btn__bookacall Meet Our Leadership 
