section.how-it-work.hiw
  .pin
    .container 
      .heading
        .badge
          .badge__dots
          span How it works
        .title
          h2 Be a Qualified Partner with
          .title__wrap
            h2 Only 3
            img(src='assets/images/moving-flower.svg' alt='')
            h2 Simple Steps
      .content-wrap.hiw-fade
        .content-card
          .content 
            .content__number.pillar__icon 1
            h3.content__title Assessment & Blueprint
            p.content__desc We analyze corridors, partners, and operating needs.
          .divider__parent
            .divider
              .divider__value 
          .illustration
            .content.mobile 
              .content__number.pillar__icon 1
              h3.content__title Assessment & Blueprint
              p.content__desc We analyze corridors, partners, and operating needs.
            img(src="assets/images/howitwork-illus1.svg" alt="")
        .content-card
          .content 
            .content__number.pillar__icon 2
            h3.content__title Financed Build
            p.content__desc Capstone funds the integration, staffing, and tooling for qualified partners.
          .divider__parent
            .divider 
              .divider__value 
          .illustration
            .content.mobile 
              .content__number.pillar__icon 2
              h3.content__title Financed Build
              p.content__desc Capstone funds the integration, staffing, and tooling for qualified partners.
            img(src="assets/images/howitwork-illus2.svg" alt="")
        .content-card
          .content 
            .content__number.pillar__icon 3
            h3.content__title Operate & Optimize
            p.content__desc Fees are tied to usage, managed services, and measurable cost-savings (e.g., wire reduction, exception handling).
          .divider__parent
            .divider 
              .divider__value 
          .illustration
            .content.mobile 
              .content__number.pillar__icon 3
              h3.content__title Operate & Optimize
              p.content__desc Fees are tied to usage, managed services, and measurable cost-savings (e.g., wire reduction, exception handling).
            img(src="assets/images/howitwork-illus3.svg" alt="")

