section#section__innovation
  .container
    .section__innovation.wrapper
      .content__main.align-start
        .badge
          .badge__dots
          span Innovation Teams
        .section__heading
          h2 Accelerate Growth with
          .section__heading-container
            h2 Specialized
            img(src='assets/images/moving-flower.svg', alt='')
            h2 Teams
        p(style='max-width: 761px;')
          | Focus on tailored strategies that enhance your digital infrastructure, ensuring you
          | achieve reliability, scalability, and security. Let us help you navigate every step of
          | your journey to success.
        a.button.btn-bookacall(href='#') Design Your Program with Us
      .pillar__list
        .pillar
          .pillar__icon
            img(src='assets/images/Binary.svg', alt='')
          .pillar__content
            h6 Specialized Pods
            span Regional regulatory expertise, payments engineers, data analysts, and compliance SMEs.
        .pillar
          .pillar__icon
            img(src='assets/images/Code.svg', alt='')
          .pillar__content
            h6 Co-Create
            span Pilot, iterate, and scale with measurable KPIs.
        .pillar
          .pillar__icon
            img(src='assets/images/DesktopTower.svg', alt='')
          .pillar__content
            h6 Build-Operate-Transfer
            span We can transition steady-state operations back to your teams over time.
