section#section__marketplace
  .container
    .section__marketplace
      img(src='assets/images/img-solution.png', alt='')
      .content__main.align-start
        .badge
          .badge__dots
          span Marketplaces & Enterprise
        .section__heading
          h2 Simplify Complex Payouts and Close
          .section__heading-container
            h2 Books Faster
            img(src='assets/images/moving-flower.svg', alt='')
        .item__list
          .item__list-content
            img(src='assets/images/mingcute_check-fill.svg', alt='')
            span
              strong Mass Payouts & Marketplace Splits
              |  — Multi-party settlements with clear ledgers and statements.
          .item__list-content
            img(src='assets/images/mingcute_check-fill.svg', alt='')
            span
              strong Embedded Compliance
              |  — KYC/KYB for sellers and suppliers with lightweight integrations.
          .item__list-content
            img(src='assets/images/mingcute_check-fill.svg', alt='')
            span
              strong Finance Ops
              |  — Close the books faster with automated reconciliations and exports.
        a.button.btn-bookacall(href='#') Talk to Solutions Engineering
