section.marquee-proof
  .container
    .marquee-proof
      .marquee-container
        .marquee-left
          .marquee-content
            .marquee-heading
              .badge
                .badge__dots
                span Marquee proof
              .section__heading
                .section__heading-container
                  h2 Build Once,
                  img(src='assets/images/moving-star.svg', alt='', width='40px')
                h2 Operate Globally.
          .slider-proof-button-wrapper
            .slider-proof-button.proof-prev
              img(src='assets/images/ic-next.svg', alt='')
            .slider-proof-button.proof-next
              img(src='assets/images/ic-next.svg', alt='')
        .marquee-right
          .slider-proof-wrapper
            .slider-track
              .slider-proof-parent
                .slider-proof
                  .slider-proof-icon
                    img(src='assets/images/ic-proof-1.svg', alt='', class='ic-proof-white')
                    img(src='assets/images/ic-proof-1-blue.svg', alt='', class='ic-proof-blue')
                  span 99.9% target API availability with low-latency endpoints (typical P50 ≤100 ms).
              .slider-proof-parent
                .slider-proof
                  .slider-proof-icon
                    img(src='assets/images/ic-proof-2.svg', alt='', class='ic-proof-white')
                    img(src='assets/images/ic-proof-2-blue.svg', alt='', class='ic-proof-blue')
                  span Tiered AML/KYC operations with runbooks, QA, and training to reduce false positives while meeting regulatory obligations.
              .slider-proof-parent
                .slider-proof
                  .slider-proof-icon
                    img(src='assets/images/ic-proof-1.svg', alt='', class='ic-proof-white')
                    img(src='assets/images/ic-proof-1-blue.svg', alt='', class='ic-proof-blue')
                  span 99.9% target API availability with low-latency endpoints (typical P50 ≤100 ms).
              .slider-proof-parent
                .slider-proof
                  .slider-proof-icon
                    img(src='assets/images/ic-proof-2.svg', alt='', class='ic-proof-white')
                    img(src='assets/images/ic-proof-2-blue.svg', alt='', class='ic-proof-blue')
                  span Tiered AML/KYC operations with runbooks, QA, and training to reduce false positives while meeting regulatory obligations.
      img(src='assets/images/logo-face.svg', alt='')
