section.moving__list
  .moving__list-wrapper
    .moving__list
      for a in [1, 2, 3] 
        .moving__list-group
          span Large APIs Avalaibility
          img(src='assets/images/moving-flower.svg', alt='')
          span Low Latency
          img(src='assets/images/moving-star.svg', alt='')
          span No upfront build cost
          img(src='assets/images/moving-flower.svg', alt='')
          span Clear SLAs
          img(src='assets/images/moving-star.svg', alt='')
          span Automated Workflow
          img(src='assets/images/moving-flower.svg', alt='')
