section#solutions__header.partners
  .container
    .solutions__header
      .content__headline(style="max-width: 628px;")
        .header__badge
          .badge__app
            span Partners
          .badge__container
            span Banks, FIs, and Risk Vendors
        .content__heading.align-start
          .heading__text.align-start
            h2 Ecosystem Built for
            .heading__text-container.align-start
              h2 Interoperability
              img(src='assets/images/star-header.svg' alt='')
          p.text-left(style="max-width: 575px;") Capstone’s open architecture allows you to bring your preferred banks, custodians, and compliance vendors to the table—or tap into ours. Our partner network spans settlement accounts, payouts, onboarding, sanctions screening, transaction monitoring, and analytics.
          a.button.btn__bookacall(href="#") Book a Discovery Call
      img(src='assets/images/partner-img.png' alt='').partner-img
