section#section__payment
  .container
    .section__payment.wrapper
      .content__main.align-start
        .badge
          .badge__dots
          span Payment Companies & PSPs
        .section__heading
          h2 Faster Corridors,
          .section__heading-container
            h2 Better Service
            img(src='assets/images/moving-star.svg', alt='')
      .pillar__list
        .pillar
          .pillar__icon
            img(src='assets/images/Lightning.svg', alt='')
          .pillar__content
            h6 New Corridors, Faster
            span Reuse connectors and rules; turn on incremental geos without bespoke builds.
        .pillar
          .pillar__icon
            img(src='assets/images/CloudCheck.svg', alt='')
          .pillar__content
            h6 Reduce Exceptions
            span Better data, better routing, better reconciliations.
        .pillar
          .pillar__icon
            img(src='assets/images/IdentificationBadge.svg', alt='')
          .pillar__content
            h6 Merchant Experience
            span Reliable settlement windows and granular reporting.
img(src='assets/images/logo-face.svg', alt='')
