section#section__procurement
  .container
    .section__procurement.wrapper
      .content__main.align-center.procurement__heading
        .badge
          .badge__dots
          span Procurement-friendly
        .section__heading.align-center
          h2 Pass-Through Costs,
          .section__heading-container
            h2 Total
            img(src='assets/images/star-header.svg', alt='')
            h2 Transparency
        p.text-center(style='max-width: 600px;') Third-party vendor costs (banks, custodians, and compliance vendors) are passed through at cost—no hidden markups.
        a.button.btn-bookacall(href='#') See if You Qualify
      .procurement__banner
        img(src='assets/images/img-banner-1.svg', alt='').procurement__img-1
        img(src='assets/images/img-banner-2.svg', alt='').procurement__img-2
        img(src='assets/images/img-banner-3.png', alt='').procurement__img-3
        img(src='assets/images/img-banner-4.svg', alt='').procurement__img-4
