section#solutions__header
  .container
    .solutions__header
      .content__headline(style="max-width: 628px;")
        .header__badge
          .badge__app
            span Solutions
          .badge__container
            span Banks, PSPs, and Global Enterprises
        .content__heading.align-start
          .heading__text.align-start
            h2 The Zero-Cost Path
            .heading__text-container.align-start
              h2 to Global
              img(src='assets/images/star-header.svg' alt='')
              h2 Payments
            h2 and Compliance
          p.text-left(style="max-width: 575px;") Capstone helps banks, payment companies, and enterprises launch and scale cross-border fiat payments and compliance operations — without upfront project costs.
          a.button.btn__bookacall(href="#") Book a Discovery Call
      img(src='assets/images/header-solution.svg' alt='')
