section.section-spotlight_bg
  .container
    .section__spotlight.wrapper
      .content__main.align-start
        .badge
          .badge__dots
          span Partner Spotlight
        .section__heading
          h2 Connecting you to a
          .section__heading-container
            h2 trusted
            img(src='assets/images/moving-star.svg', alt='')
            h2 ecosystem
          h2 and growing faster
        a.button.btn-bookacall(href='#') Book a Discovery Call
      .spotlight
        .spotlight__card
          img(src='assets/images/klarna.png', alt='')
          .spotlight__content
            h6 Klarna
            p Swedish e-commerce payment platform for merchants and shoppers, that revolutionizes how consumers shop and pay.
        .spotlight__card
          img(src='assets/images/authpay.png', alt='')
          .spotlight__content
            h6 AuthPay UK
            p An FCA-authorised Electronic Money Institution (FRN 931876) supporting e-money issuance and payment services in the UK.
        .spotlight__card
          img(src='assets/images/wise.png', alt='')
          .spotlight__content
            h6 Wise
            p Financial tech company for cheap, fair, and simple international money transfers, using a peer-to-peer platform.
