section.three-value-pillars
  .container
    .value__container
      .value__content
        .badge
          .badge__dots
          span 3 Value pillars
        .value__heading
          .section__heading
            h2 Essential Solutions for
            .section__heading-container
              h2 Global
              img(src='assets/images/moving-flower.svg', alt='', width='40px')
              h2 Infrastructure.
          p
            | Our three value pillars deliver the essential solutions your digital infrastructure
            | needs—ensuring reliability, scalability, and security at every step.
        a.button.btn-bookacall(href='#')
          | Book a Discovery Call
      .pillar__list
        .pillar
          .pillar__icon
            img(src='assets/images/GlobeHemisphereWest.svg', alt='')
          .pillar__content
            h6 Global by Design
            span REST APIs, webhooks, and data pipelines that connect merchants, marketplaces, risk tooling, and service providers.
        .pillar
          .pillar__icon
            img(src='assets/images/CloudCheck.svg', alt='')
          .pillar__content
            h6 Enterprise-Grade Infrastructure
            span Cloud-native backbone with observability, SLAs, and audited financial controls.
        .pillar
          .pillar__icon
            img(src='assets/images/ic-3.svg', alt='')
          .pillar__content
            h6 Managed Outcomes
            span
              | We design, integrate, and operate complex workflows for measurable results and faster onboarding, reduced disputes,
              | and global compliance readiness.
      img(src='assets/images/value-Illustration.svg', alt='')
