section.what-we-do
  .container
    .what-we-do-container
      .what-we-do-heading
        .badge
          .badge__dots
          span We are Capstone
        .section__heading
          h2 payments orchestration
          .section__heading-container.custom-gap-heading
            h2 & compliance
            img(src='assets/images/moving-flower.svg', alt='', width='40px')
            h2 suited for.
          h2 global infrastructure.
      .feature__list
        .feature__list-top
          .feature.feature-1
            img(src='assets/images/feature-1.svg', alt='')
            .feature__content
              h6 Workflow Orchestration
              span One layer to route, reconcile, and report
                | operations across systems and counterparties.
          .feature.feature-2
            img(src='assets/images/feature-2.svg', alt='')
            .feature__content
              h6 Process Automation
              span Standardized onboarding, validation, and
                | monitoring workflows with best-in-class tools.
        .feature__list-bottom
          .feature.feature-3
            img(src='assets/images/feature-3.svg', alt='')
            .feature__content
              h6 Data and Analytics
              span Unified servers, database, ledgers, telemetry,
                | and dashboards for real-time visibility and control.
          .feature.feature-4
            img(src='assets/images/feature-4.svg', alt='')
            .feature__content
              h6 Global Delivery
              span Integration, staffing, and training across
                | regions so you can operate on a scale.
      .phone__illustration
        img.img-phone(src='assets/images/img-phone.png', alt='')
        img.img-code(src='assets/images/img-code.svg', alt='')
        .phone
          .phone__content
            img(src='assets/images/img-phone-content.svg', alt='')
