@use 'mixins';

header {
background: radial-gradient(74.91% 74.91% at 50% 100%, #FFF 0%, #FFF7ED 66.24%, #F5F8FF 100%);
}

.header__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 64px;
  padding-top: 230px;
  padding-bottom: 64px;
  margin-top: -160px;
}
.header__home {
  align-items: center !important;
}
.header__home h1 {
  @include mixins.respond(sm){
    text-align: center;
  }
}
.header__button-group {
  display: flex;
  align-items: center;
  gap: 24px;
}

.rating {
  display: flex;
  height: 48px;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.rating__container {
  display: flex;
  align-items: center;
  gap: 8px;
}

.user__list {
  display: flex;
  align-items: center;
  gap: -15px;
}

.user__list img {
  border-radius: 1000px;
}

.user__list img:nth-of-type(2) {
  margin-left: -15px;
}

.user__list img:nth-of-type(3) {
  margin-left: -15px;
}

.rating__text {
  display: flex;
  align-items: center;
  gap: 4px;
}

.rating__text span:nth-of-type(1) {
  color: #1F1F1F;
  text-align: center;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 28px;
  /* 175% */
  letter-spacing: -0.112px;
}

.rating__text span:nth-of-type(2) {
  color: rgba(31, 31, 31, 0.80);
  text-align: center;
  font-family: Inter;
  font-size: 28px;
  font-style: normal;
  font-weight: 600;
  line-height: 28px;
  /* 175% */
  letter-spacing: -0.112px;
}

.rating__text span:nth-of-type(3) {
  color: rgba(31, 31, 31, 0.80);
  text-align: center;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 28px;
  /* 175% */
  letter-spacing: -0.112px;
}

.hero__header img {
  box-shadow: 0 0 32px 0 rgba(0, 0, 0, 0.04);
  border-radius: 24px;
}


@media (max-width: 767px) {
  .hero__header img {
    width: 100% !important;
    height: auto !important;
  }

  .content__headline {
    max-width: 100% !important;
  }

  .heading__text-container {
    gap: 8px !important;
  }

  .heading__text-container img {
    width: 24px !important;
    height: 24px !important;
  }

  .content__heading p {
    font-size: 16px !important;
    line-height: 24px !important;
  }

  .header__button-group {
    width: 60% !important;
    flex-direction: column !important;
    align-items: stretch !important;
    gap: 16px !important;
  }

  .rating__text span:nth-of-type(1) {
    font-size: 12px !important;
  }

  .rating__text span:nth-of-type(3) {
    font-size: 12px !important;
  }
}