@use 'mixins';

.section__payment {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 64px;
  align-self: stretch;
  position: relative;
}

.wrapper__logo {
  position: relative;
  overflow: hidden;
}

.wrapper__logo>img {
  position: absolute;
  right: -220px;
  bottom: 200px;
  @include mixins.respond(sm){
    bottom: 700px;
    width: 482px;
    right: -120px;
  }

}

#section__marketplace {
  background: #F5F8FF;
}

.section__marketplace {
  display: flex;
  padding-top: 80px;
  padding-bottom: 64px;
  justify-content: space-between;
  align-items: flex-start;
  align-self: stretch;
  @include mixins.respond(sm){
    flex-direction: column-reverse;
    padding-top: 64px;
    padding-bottom: 64px;
    gap: 50px;
  }
}

.section__marketplace>img {
  margin-left: -60px;
  width: 660px;
  @include mixins.respond(sm){
    margin-left: 0;
    width: 100%;
  }
}