@use 'mixins';

#solutions__header {
  background: radial-gradient(299.74% 164.55% at 6.74% 112.32%, #FFF 0%, #F5F8FF 16.11%, #FFF7ED 100%);
  margin-top: -160px;

  &.partners {
    .partner-img {
      margin-right: unset !important;
    }
  }
}

.solutions__header {
  padding-top: 200px;
  padding-bottom: 64px;
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  @include mixins.respond(sm) {
    flex-direction: column;
  }
}

.solutions__header > img {
    width: 630px;
    margin-top: -40px;
    margin-right: -65px;
    @include mixins.respond(sm) {
      width: 100%;
      margin-top: unset;
      margin-right: unset;
      margin-top: 40px;
    }
}