@use 'mixins';

#trustCenter__header {
    background:  radial-gradient(74.91% 74.91% at 50% 100%, #FFF 0%, #F5F8FF 100%);
    margin-top: -160px;
}
.trustCenter__header {
    display: flex;
    padding-top: 130px;
    padding-bottom: 0px;
    justify-content: space-between;
    @include mixins.respond(sm){
        flex-direction: column;
    }
}
.trustCenter__header .content__headline {
    padding-top: 68px;
}
.trustCenter__header > img {
    margin-right: -50px;
    @include mixins.respond(sm){
        margin-right: 0px;
        width: 100%;
    }
}
.contentMain__parent {
    display: flex;
}
.contentMain__parent > img {
    width: 500px;
    margin-right: -60px;
}
.pillarParent__trust {
    @include mixins.respond(sm){
        margin-top: -90px;
    }
}
.pillar__trust {
    @include mixins.respond(sm){
        align-items: center !important;
    }
}
.pillar__trust .pillar__content{
    @include mixins.respond(sm){
        align-items: center !important;
    }
}
.pillar__trust .pillar__content span {
    text-align: left;
    @include mixins.respond(sm){
        text-align: center;
    }
}